<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600;900&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../main.css" />
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<title>Awesome Chicken Cards</title>
	</head>
	<body>
		<section class="section__cards">
			<div class="card__preview">
				<div class="card__preview--default">
					<div class="preview__text js-borderleft border-text<%= palette %>">
						<h3 class="preview__text--name js-preview-name text<%= palette %>">
							<%= name %>
						</h3>
						<h4 class="preview__text--role"><%= job %></h4>
					</div>
					<div
						class="preview__image"
						style="background-image: url('<%= photo %>')"
					></div>
					<div class="preview__links">
						<a
							href="tel: <%= phone %> "
							class="preview__links--social js-preview-phone js-border border-icon<%= palette %>"
							title="Phone: <%= phone %> "
							target=" _self  "
							><i
								class="fas fa-mobile-alt preview__links--icon js-icons icon<%= palette %>"
							></i>
						</a>
						<a
							href="mailto: <%= email %>"
							class="preview__links--social js-preview-email js-border border-icon<%= palette %>"
							title=" Email: <%= email %>"
							target=" _self  "
							><i
								class="far fa-envelope preview__links--icon js-icons icon<%= palette %>"
							></i>
						</a>
						<a
							href="https://www.linkedin.com/in/<%= linkedin %>"
							class="preview__links--social js-preview-linkedin js-border border-icon<%= palette %>"
							title=" Linkedin: <%= linkedin %> "
							target=" _self  "
							><i
								class="fab fa-linkedin-in preview__links--icon js-icons icon<%= palette %>"
							></i>
						</a>
						<a
							href="https://github.com/<%= github %>"
							class="preview__links--social js-preview-github js-border border-icon<%= palette %>"
							title=" GitHub: <%= github %>  "
							target=" _self  "
							><i
								class="fab fa-github-alt preview__links--icon js-icons icon<%= palette %>"
							></i>
						</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
